<h1>Editing Portfolio</h1>

<%= render 'form' %>

<%= link_to 'Show', @portfolio %> |
<%= link_to 'Back', portfolios_path %>
<%= link_to 'Destroy', @portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
