



<div class="jumbotron">
	<h1>Edit your Portfolio</h1>
	<h2>Make changes at any time to your uploaded content</h2>
	<p>Showcase your work!</p>
</div>

<div class="container">
<%= render 'form' %>
</div>

