

<div class="jumbotron">
	<h1>Submit a Portfolio</h1>
	<h2>Upload up to three HighRES images</h2>
	<p>Showcase your work!</p>
</div>

<hr class="featurette-divider">

<div class="container">
	<h1>New Portfolio</h1>
	<%= render 'form' %>
</div>





		<!-- <div class="container"> -->



		<!-- <%= render 'form' %> -->

		<!-- <%= link_to 'Back', portfolios_path %> -->
		<!-- </div> -->


