 <!-- Page Content -->
    <div class="container">
        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive center" src="http://placehold.it/250x250">
            <h2 class="featurette-heading">Welcome to your Profile!
                <span class="text-muted"></span>
            </h2>
            <p class="lead">Upload your Image to Showcase!</p>
        </div>

        <hr class="featurette-divider">






<div class="container">

<h1>New Portfolio</h1>

<%= render 'form' %>

<!-- <%= link_to 'Back', portfolios_path %> -->
</div>


