<style>
    body {
        margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }

    .image-bg-fluid-height,
    .image-bg-fixed-height {
        text-align: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .image-bg-fluid-height {
        background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
        padding: 100px 0;
    }

    .image-bg-fixed-height {
        background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
        height: 450px;
    }

    .img-center {
        margin: 0 auto;
    }

    section {
        padding: 75px 0;
    }

    .section-heading {
        margin: 30px 0;
        font-size: 4em;
    }

    .section-lead {
        margin: 30px 0;
    }

    .section-paragraph {
        margin: 30px 0;
    }

    footer {
        margin: 50px 0;
    }

    @media(max-width:768px) {
        section {
            padding-top: 25px;
            padding-bottom: 25px;
        }

        .section-heading {
            font-size: 2em;
        }
    }

</style>
<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
    <img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt="">
</header>

<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">Contact Jonny</h1>
                <p class="lead section-lead"><i class="fa fa-paper-plane"></i>    Jonathankrista@gmail.com</p>
                <p class="lead section-lead"><i class="fa fa-phone"></i>416-909-3422</p>
            </div>
        </div>
    </div>
</section>

<!-- Fixed Height Image Aside -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->

<!-- Content Section -->


<!-- Footer -->
<footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; JK Design 2016</p>
            </div>
        </div>
        <div class="social">
          <ul>
              <li class="facebook"></li>
              <li class="twitter"></li>
              <a href="https://ca.linkedin.com/in/jonathankrista"><li class="fa-linkedin"></li>
                <a href="https://github.com/Jonathankrista"><li class="fa-github"></li>
                </ul>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>