#mainNav {
	border-color: transparent!important;
	background-color:transparent;

}

.navbar-default .navbar-nav>li>a {
  color:#111!important;
}

.navbar-toggle {
  border-color: tramsparent!important;
}

.Showcase {
	font: normal normal bold 60px/0 "montserrat", Helvetica, sans-serif;
	color: #f05766;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	letter-spacing: 2.5px;
	word-spacing: 20px;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color:transparent!important;
}

.navbar-default .navbar-brand {
  color: #f05766!important;
}

.navbar-brand {
  font-size:30px!important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #f05766!important;

}

.navbar-right {
	display: inline-block;
  float:left;
}

#bs-example-navbar-collapse-1 {
  display:inline block!important;
  float:left;

}


@media (max-width: 798px) {
  .navbar-right {
    float: right!important;
    margin-right: -15px;
    display:none;

  }
}

@media (max-width: 822px) {
  .navbar-right {
    float: right!important;
    margin-right: -15px;
    display:none;

  }
}

/* Overline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: left;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ef5766;
  bottom:12px;
  height: 3.0px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* Outline In */
.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;

}
.hvr-outline-in:hover:before, .hvr-outline-in:focus:before, .hvr-outline-in:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  opacity: 1;

}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
    hover:none	;
  }
}

.like:hover {
  text-decoration:none;
}

.navbar-nav>li>a {
  line-height:normal!important;
}

.header-image {
  background: url("/high-resolution-wallpapers-25.jpg")!important;
}

.headline h1 {
  color:#111!important;
  background:transparent!important;
}

.headline h2 {
  background:transparent!important;
}

.headline h2 {
  color:#f05766;
}

.text-muted {
  color:#f05766!important;
}

@media (min-width: 950px){
  #bs-example-navbar-collapse-1 {
    font-size:20px!important;
    padding-left:20px;
    line-height:1px;
  }
}


@media (min-width: 950px) {
  .navbar-brand {
    font-size:40px!important;
  }
}

.navbar-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.jumbotron {
background-color:transparent!important;
padding-bottom:0px!important;
}

.jumbotron h1 {
text-align:center!important;

}

.jumbotron h2 {
text-align:center!important;
}

.jumbotron p {
text-align:center!important;
}

.container h1 {
text-align:center!important;
}

.divform-group label {
text-align:center!important;
}


